<h2>Fruit stand</h2>
<p>A fruit stand is a primarily open-air business venue that sells seasonal fruit and many fruit products from local
    growers. It might also sell vegetables and various processed items derived from fruit. The fruit stand is a small
    business structure that is primarily run as an independent sole proprietorship, with very few franchises or branches
    of larger fruit stand conglomerates, though many large food industry businesses have developed from fruit stand
    businesses.

    The fruit stand has been a neighborhood hub for many generations and is one of the few enterprises that is important
    to every culture and readily available on every continent. Fruit stands still comprise a primary distribution system
    for the fresh produce consumed by millions in developing countries.</p>

<h2>History</h2>
<p>In the most traditional food distribution model, farmers and growers sell foodstuffs directly to consumers. A simple
    stand located adjacent to an established road/transportation route is the most familiar model. Fruit and produce
    stands are often seasonal, harvest-based operations. In the U.S., some fruit stands have grown into famous grocery
    store chains. Started as a fruit stand in 1948, the Dorothy Lane Market (DLM) company is now a chain of specialty
    grocery stores.[1] Sprouts, LLC, with over $2.5 million actual sales in 2013,[2] claims to share a similar history.

    According to the History Channel, Dole Foods began as a roadside pineapple stand in Hawaii.[3] In 2010, the food
    industry conglomerate had revenues over $6.9 billion from operations in more than 90 companies.[4]

    The past half-century has seen increasing agricultural mechanization, genome-based crop yield modifications,
    widespread chemical pesticide use, markets influences by subsidies and tariffs and increased household spending
    capacity. Agribusiness has been the natural business model in this context.

    Many but not all people now have a broader range of produce and other foods to choose from in their grocery stores,
    often at lower cost.</p>

<h2>A century and a half of food safety regulation</h2>
<p>The U.S. Department of Agriculture was created in the 1860s. By the 1890s, the USDA was beginning to become involved
    in livestock inspections.[5] In 1905, the U.S. government had a call to action when Upton Sinclair polemic[6]
    against unsanitary working conditions at the expansive Chicago stockyards was published as a magazine serial. This
    became a national issue in part because the millions of animals were slaughtered and processed each year were
    distributed via rail to markets all across the nation. Initially a socialist's demand for better conditions for
    labor, ‘The Jungle’ was a catalyst for food industry regulation.

    The U.S. Food and Drug Administration is the federal agency tasked with food safety regulation. States also pass
    laws regulating food industry issues. From the FDA website:[7]

    Retail Food Protection--A Cooperative Program

    More than 3,000 state, local and tribal agencies have primary responsibility to regulate the retail food and
    foodservice industries in the United States. They are responsible for the inspection and oversight of over 1 million
    food establishments – restaurants and grocery stores, as well as vending machines, cafeterias, and other outlets in
    health-care facilities, schools, and correctional facilities.

    FDA strives to promote the application of science-based food safety principles in retail and foodservice settings to
    minimize the incidence of foodborne illness. FDA assists regulatory agencies and the industries they regulate by
    providing a model Food Code, scientifically-based guidance, training, program evaluation, and technical assistance.

    U.S. citizens continue to have a high level of expectation for food safety controls by the government.</p>