<form
  action="/fruits/update/{{idF}}"
  enctype="application/x-www-form-urlencoded"
>
  <label for="name">New Name</label>
  <input type="text" name="name" id="name" required placeholder="Apple" />
  <label for="color">New Color</label>
  <input type="text" name="color" id="color" required placeholder="Green" />
  <label for="img">New Image</label>
  <input
    type="text"
    name="img"
    id="img"
    required
    placeholder="http://example.com/img/img.png"
  />
  <label for="price">Price</label>
  <input type="text" name="price" id="price" required placeholder="price" />
  <button>update</button>
</form>