<form action="/fruits/add" method="post" enctype="application/x-www-form-urlencoded">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required placeholder="Apple">
    <label for="color">Color</label>
    <input type="text" name="color" id="color" required placeholder="Green">
    <label for="img">Image</label>
    <input type="text" name="img" id="img" required placeholder="http://example.com/img/img.png">
    <button>Add</button>
</form>